@font-face {
    font-family: 'xrow-mobile-menu';
    src:url('/extension/xrowmobilemenu/design/standard/stylesheets/fonts/xrow-mobile-menu.eot?-urdnjt');
    src:url('/extension/xrowmobilemenu/design/standard/stylesheets/fonts/xrow-mobile-menu.eot?#iefix-urdnjt') format('embedded-opentype'),
        url('/extension/xrowmobilemenu/design/standard/stylesheets/fonts/xrow-mobile-menu.woff?-urdnjt') format('woff'),
        url('/extension/xrowmobilemenu/design/standard/stylesheets/fonts/xrow-mobile-menu.ttf?-urdnjt') format('truetype'),
        url('/extension/xrowmobilemenu/design/standard/stylesheets/fonts/xrow-mobile-menu.svg?-urdnjt#xrow-mobile-menu') format('svg');
    font-weight: normal;
    font-style: normal;
}

.xrow-mobile-menu ul li span:before,
.xrow-mobile-menu ul li span:after,
.xrow-mobile-menu ul li a:after,
.toggle_xrow_mobile_menu {
    font-family: 'xrow-mobile-menu';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toggle_xrow_mobile_menu:before {
    content: "\e613";
    cursor: pointer;
}

.xrow-mobile-menu-layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
}

.xrow-mobile-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    height: 100%;
    width: 320px;
    overflow-x: hidden;
}

/* iPhone size */
/*
@media only screen and (max-width : 320px)
{
    .xrow-mobile-menu
    {
        width: 280px;
        left: -280px;
    }
    .xrow-mobile-menu ul ul
    {
        left: 280px;
    }
}
*/
.xrow-mobile-menu ul {
    background-color: #fff;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.xrow-mobile-menu ul li {
    cursor: pointer;
}

.xrow-mobile-menu ul li.active > ul {
    display: block;
}

.xrow-mobile-menu ul ul {
    left: 320px;
    display: none;
}

.xrow-mobile-menu ul li a.current:after {
    content: "\e604";
}

.xrow-mobile-menu ul li span:after {
    content: "\e608";
}

.xrow-mobile-menu ul li span.back:after {
    content: "";
}

.xrow-mobile-menu ul li span.back:before {
    content: "\e604";
}